.form-container {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    width: 50%;
    padding: 2em;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
}

button {
    display: block;
    margin: 0 auto;
    width: 100%;
    border: none;
    box-shadow: none;
    outline: none;
}

html {
    font-family: 'Roboto', sans-serif;

}


li {
    list-style: none;
}


.summary {
    font-size: 12px;
}

#submit-button {
   display: block;
   margin: 0 auto;
   width: 100%;
   border: none;
box-shadow: none;
   outline: none;
}

#submit-button:hover {
    border: none;
    box-shadow: none;
    outline: none;
}

#submit-button:active {
    border: none;
    box-shadow: none;
    outline: none;
}

#submit-button:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

button:hover, button:active, button:focus {
    border: none;
    box-shadow: none;
    outline: none;
}